/*
Theme Name:		    Real Estate Listings
Theme URI:		    https://wpgeodirectory.com/downloads/real-estate-directory-theme/
Description:	    Real Estate Listings is a unique theme concept, for WordPress.org. With Real Estate Directory Theme you can easily create an online real estate portal and submit your properties listings. Real Estate Directory utilises the power of the WordPress block editor, GeoDirectory and Bootstrap to be able to create a fast loading modern directory site.
Tags:               full-site-editing, blog, food-and-drink, two-columns, editor-style, block-styles
Author:			    AyeCode Ltd
Author URI:		    https://ayecode.io
Template:		    blockstrap
Version:		    2.0.7
Text Domain:	    real-estate-listings
Requires at least:  6.1
Requires PHP:       7.2
Tested up to:       6.5

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
